iv class="footer">
  <div>
    <h5 style="color: white">Made with hard work </h5>
      <a class=social href="https://github.com/ConanLDM" target="_blank">
        <i class="fab fa-github">
        </i>
      </a>
  </div>
</div>
